.outer-wrapper{
    background-color: orange;
    width: 250px;
    height: 100vh;
    text-align: center;
    
}
.inner-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo-wrapper{
    border: 2px solid black;
    border-radius: 50%;
    width: 200px;
    margin: 30px auto;
    height: 200px
}
.logo-wrapper img{
    object-fit: contain;
    width: 100px;
    height: 100px;
    margin: 30px 0;
}